* {
	margin: 0;
	font-family: comic;
	font-size: normal;
}

@font-face {
	font-family: comic;
	src: url(font/comic.ttf);
}
@font-face {
	font-family: comic;
	src: url(font/comicbd.ttf);
	font-weight: bold;
}
@font-face {
	font-family: comic;
	src: url(font/comici.ttf);
	font-style: italic;
}
@font-face {
	font-family: comic;
	src: url(font/comiccz.ttf);
	font-weight: bold;
	font-style: italic;
}

body {
	background-image: linear-gradient(135deg, #ff53a9, #bb67ff, #75eaff);
	background-attachment: fixed;

	text-align: center;
	height: 100vh;
	
}

div {
	background-color: white;
	color: black;
	margin: auto;
	border-radius: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 1rem;
	width: 80%;
}

div a {
	color: #ff53a9;
}

div a:hover {
	color: #e21887;
}

.wallpaperimg {
	width: 32em;
	height: 18rem;
	margin: 1rem;
	border-radius: 1rem;
}

.wallpaperimg:hover {
	border: 0.25rem solid #ff53a9;
	margin: 0.75rem;
}

/*toggle switches*/
.switch {
	position: relative;
	display: inline-block;
	width: 3.5rem;
	height: 2rem;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	padding: 1rem;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #75eaff;
	-webkit-transition: .25s;
	transition: .25s;
	border-radius: 1.5rem;
}

.slider:before {
	position: absolute;
	content: "";
	height: 1.5rem;
	width: 1.5rem;
	left: .25rem;
	bottom: .25rem;
	background-color: white;
	-webkit-transition: .25s;
	transition: .25s;
	border-radius: .75rem;
}

input:checked + .slider {
	background-color: #ff53a9;
}

input:checked + .slider:before {
	-webkit-transform: translateX(1.5rem);
	-ms-transform: translateX(1.5rem);
	transform: translateX(1.5rem);
}

.header {
	width: 60%;
	top: 0rem;
	margin: auto;
	border-radius: 0;
	position: sticky;
	z-index: 1;
	border-radius: 0 0 1rem 1rem;
	box-shadow: 0 1rem 1rem 0 #75eaff40;
}

div .top-spacer {
	margin-bottom: 1rem;
}