* { margin: 0; }

@font-face {
	font-family: comic;
	src: url(font/comic.ttf);
}
@font-face {
	font-family: comic;
	src: url(font/comicbd.ttf);
	font-weight: bold;
}
@font-face {
	font-family: comic;
	src: url(font/comici.ttf);
	font-style: italic;
}
@font-face {
	font-family: comic;
	src: url(font/comiccz.ttf);
	font-weight: bold;
	font-style: italic;
}

body {
	background-image: linear-gradient(135deg, #ff53a9, #bb67ff, #75eaff);
	background-attachment: fixed;

	text-align: center;
	font-family: comic;
	height: 100vh;
	
}

div {
	background-color: white;
	color: black;
	margin: auto;
	border-radius: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 1rem;
	width: 80%;
}

div a {
	color: #ff53a9;
}

div a:hover {
	color: #e21887;
}